@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'HouseCasual';
	src: url('../font/HouseCasual.eot');
	src: url('../font/HouseCasual.woff2') format('woff2'), url('../font/HouseCasual.woff') format('woff'), url('../font/HouseCasual.ttf') format('truetype'), url('../font/HouseCasual.svg#HouseCasual') format('svg'), url('../font/HouseCasual.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
html body {
	margin: 0;
	padding: 0;
}
.clear::after, .clear::before {
	display: table;
	content: '';
}
.box {
	width: 100%;
}
.content {
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
}
.cap-1 {
	height: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cap-1 div ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}
.cap-1 div ul li {
	margin-right: 35px;
}
.cap-1 div ul li a {
	color: #000000;
}
.cap-1 div form {
	border-bottom: solid 1px #000000;
}
.cap-1 div form input {
	margin: 0;
	border: 0;
	width: 366px;
	padding: 0;
}
.background-caps-2 {
	background-image: url(../images/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.cap-2 {
	height: 147px;
	display: flex;
	justify-content: space-between;
}
.cap-2 div.logo {
	width: 114px;
	height: 114px;
	align-self: center;
}
.cap-2 div.logo img {
	width: 114px;
	height: 114px;
}
.cap-2 div.tagline {
	margin-left: 20px;
	flex-grow: 1;
	align-self: center;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 20px;
}
.cap-2 div.tagline span:nth-of-type(1) {
	font-family: 'HouseCasual';
	font-size: 60px;
	line-height: 54px;
	text-shadow: 2px 2px 0 #2b2825;
}
.cap-2 div.menu-contacts {
	width: 255px;
	height: 125px;
	background-color: rgba(0,0,0,0.20);
	align-self: center;
	color: #FFFFFF;
	font-weight: 300;
	line-height: 2;
	display: flex;
	flex-flow: row wrap;
}
.cap-2 div.menu-contacts span {
}
.background-caps-3 {
	background-color: #2c2825;
}
.cap-3 {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cap-3 div:nth-of-type(1) {
	flex-grow: 1;
}
.cap-3 div ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	justify-content: space-between;
	flex-grow: 1;
	display: flex;
	font-weight: 300;
}
.cap-3 div ul li {
	flex-grow: 1;
}
.cap-3 div ul li a {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #FFFFFF;
	display: block;
}
.cap-3 div:nth-of-type(2) {
}
.cap-3 div form input {
	margin: 0;
	border: 0;
	padding: 0;
	width: 200px;
	height: 50px;
	background-color: rgba(0,0,0,0.00);
	color: #FFFFFF;
	text-decoration: underline;
	font-size: 1em;
	font-weight: 300;
}
.block-1 {
	height: 185px;
	display: flex;
}
.block-1 div {
	padding: 55px 0;
	text-align: center;
	flex-grow: 1;
}
.block-1 div span {
	font-size: 21px;
}
.block-2 {
	height: 420px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column wrap;
}
.block-2 div {
	line-height: 0;
}
.block-2>div {
	margin: 0 9.25px;
}
.block-2 div div img {
	width: 100%;
}
.background-block-3 {
	margin: 90px 0 60px 0;
	background-image: url(../images/background-block-3.jpg);
	background-repeat: round;
	height: 291px;
}
.block-3 {
	height: 291px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}
.block-3 div {
	text-align: center;
	color: #FFFFFF;
}
.block-3 div:nth-of-type(1) {
	font-weight: 300;
}
.block-3 div:nth-of-type(2) {
	font-weight: 400;
}
.block-3 div form {
	letter-spacing: 25px;
}
.block-3 div form input:nth-of-type(1) {
	width: 473px;
	height: 50px;
	margin: 0;
	border: 0;
	padding: 0 0 0 20px;
	font-size: 14px;
	font-weight: 300;
}
.block-3 div form input:nth-of-type(2) {
	width: 274px;
	height: 50px;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	background-color: #99c45a;
	letter-spacing: 3px;
}
.block-4 {
	padding: 0 215px;
	display: flex;
	justify-content: space-around;
}
.block-4 div {
	margin: 0;
	padding: 0;
	text-align: center;
}
.block-4 div a {
	color: #000;
	text-decoration: none;
	display: block;
	width: 64px;
	height: 64px;
	border: solid 1px #e8e3d5;
	font-size: 2em;
	line-height: 2em;
}
.block-4 div a:hover {
	color: #99c45a;
	border-color: #99c45a;
}
.block-5 {
	padding: 100px;
	display: flex;
	justify-content: space-around;
}
.block-5 img {
	width: 274px;
	height: 274px;
	vertical-align: top;
}
.block-5 div:nth-of-type(2) {
	padding: 20px 0 0 25px;
	font-weight: 300;
	font-size: 18px;
}
.block-5 div:nth-of-type(2) div div {
	text-align: right;
	font-size: 0.8em;
	color: gray;
}
.background-block-6 {
	background-color: #f9f4e6;
}
/*.block-6 div:nth-of-type(1) {
	text-align: center;
	font-size: 1.3em;
	font-weight: 300;
	line-height: 3;
}*/
.block-6 div:nth-of-type(1) h3 {
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
	font-size: 1.3em;
	font-weight: 400;
	line-height: 3;
}
.block-6 div:nth-of-type(2) {
	padding: 70px 0;
}
.block-6 div:nth-of-type(2) ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
.block-6 div:nth-of-type(2) ul li a {
	display: block;
	text-decoration: none;
	color: #000000;
	text-align: center;
	font-size: 0.9em;
	font-weight: 300;
	line-height: 5;
}
.block-6 div:nth-of-type(2) img {
	line-height: 0;
	vertical-align: top;
}
.block-7 ul {
	margin: 50px 0;
	border-bottom: solid 2px #e8e3;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}
.block-7 ul li {
	flex-shrink: 1;
	text-align: center;
	border-bottom: solid 2px rgba(0,0,0,0.00);
}
.block-7 ul li:hover {
	border-bottom: solid 2px #99c45a;
}
.block-7 ul li a {
	margin: 15px 30px;
	display: block;
	text-decoration: none;
	color: #000000;
}
.text-block-7 {
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
}
.text-block-7 div {
	width: 375px;/*height: 155px;*/
}
.text-block-7 div h3 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}
.text-block-7 div p {
	font-size: 0.9em;
}
.text-block-7 div div {
	text-align: right;
}
.text-block-7 a {
	color: #000000;
}
.background-block-8 {
	background-color: #2b2825;
}
.block-8 {
	margin: 35px auto;
	display: flex;
	justify-content: space-between;
}
.block-8 div {
}
.block-8 div ul {
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	list-style-type: none;
}
.block-8 div ul li {
	color: #FFFFFF;
	font-weight: 300;
	line-height: 2;
}
.block-8 div ul li a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 300;
}
.background-block-9 {
	background-color: #2b2825;
	border-top: solid 2px #5f554e;
}
.block-9 {
	padding: 15px 0;
	text-align: center;
	font-weight: 400;
	color: #FFFFFF;
}
